.FormContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	background-color: white;
}

.Textfield {
	width: 400px;
}

.btnASendAction {
	background: #f03d6a;
	color: white;
	height: 54px;
	width: 400px;
	border-radius: 8px;
	font-size: 18px;
	transition: background, color 0.5s;
	outline: #9b1d3d;
	border: none;
	margin: 10px;
}

.btnASendAction:hover {
	color:black ;
	background: #f0829d;
}