.Navigation {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .List-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .Link {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .ProfileImage {
    width: 40px; /* Ajusta el tamaño de la foto según tus necesidades */
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .ImageContainer {
    display: flex;
    align-items: center;
  }
  